.gradle/
build/

.idea/
*.iml

*.class

*.log
*.tmp

.DS_Store
Thumbs.db

*.swp
*.swo
*.bak

gradle/wrapper/gradle-wrapper.jar

src/main/java/com/example/careercounseling/api/key.java
app/src/main/java/com/example/careercounseling/api/key.java


*.zip
*.tar.gz

users.dat

out/
